@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}
  
:root {
    --white: #e2e8f0;
    --background: #0f172a;
    --green--500: rgba(27, 221, 20, 0.555);
    --green--500-030: rgba(27, 221, 20, 0.11);
    --red--500: rgb(230, 19, 19);
    --red--500-o30: rgba(221, 21, 21, 0.226);
}
  
body {
    background-color: var(--background);
    color: var(--white);
}
  
.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
  
header {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem !important;
    padding: 0.5rem;
}
  
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
}
header div svg {
    color: var(--white);
    width: 26px;
    height: 26px;
}
#perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card{
    background-color: #1e293b;
    width: 360px;
    padding: 20px 25px 49px 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card div{
    display: flex;
    justify-content: space-between;
}

.card div h2{
    font-size: 1.2rem;
    font-weight: 100;
}
.card h3{
    font-size: 2rem;
}


#detalhes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#in{
    color: var(--green--500);
    background-color: var(--green--500-030);
    border-radius: 50%;
}

#out{
    color: var(--red--500);
    background-color: var(--red--500-o30);
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: var(--white);
}

#separation{
    display: flex;
    justify-content: space-between;
}

main{
    
}

#left,
#right{
    ;
}

.transactions{
    background-color: #1e293b;
    display: flex;
    justify-content: space-between;
}

.transactions div{
    padding: 25px;
    border-radius: 15px;
}
#transactions{
    display: flex;
    flex-direction: column;
}